.idea
.DS_Store
node_modules
/build
/package
.eslintcache
.env
.env.*
!.env.example
.pnpm-debug.log
/dist
/**/*.js.map
/**/*.js
/.vscode
/.svelte-kit/build
/.svelte-kit/generated
/.svelte-kit/output
/.svelte-kit/runtime
/.svelte-kit/types
yarn-error.log
!*.config.js
